OPEN_CLOCKTOWER_IMAGE=willi28/open-clocktower:latest
OPEN_CLOCKTOWER_IMAGE=willi28/open-clocktower:0.4
APP_DOMAIN=botc.example.com
TRAEFIK_NETWORK=traefik_proxy
TRAEFIK_HTTP_ENTRYPOINT=web
TRAEFIK_HTTPS_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=le

POSTGRES_DB=open_clocktower
POSTGRES_USER=open_clocktower
POSTGRES_PASSWORD=change-me-to-a-long-random-password

FORCE_HTTPS=true
ICE_SERVERS_JSON=[{"urls":"stun:stun.l.google.com:19302"}]
ROOM_IDLE_TTL_SECONDS=3600
ROOM_CLEANUP_INTERVAL_SECONDS=300
